.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 16px;
  width: 100%;
  margin: 0 auto;
  padding-right: 40px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.text {
  margin: 0;
  color: #111827;
  font-size: 16px;
  line-height: 1.5;
}

.button {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 10px;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  background-color: #8B8B8B;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background-color: #666; 
}

.avatar {
  border-radius: 50%;
}
