.container {
  position: relative;
  display: flex;
  width: 100%;
}

.chatContainerOpen {
  display: flex;
  justify-content: center;
  width: 100%;
}

.chatContainer {
  display: flex;
  justify-content: center;
  width: calc(100% - 300px);
  margin-left: auto;
}

.openButton {
  position: absolute;
  top: 0px;
  left: 0px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: .3s;
}

.openButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
}

@media (max-width: 1440px) {
  .chatContainer {    
    width: 100%;
  }
}
